# Keep IntelliJ files out of github to reduce potential conflicts when others import.

.idea
core.iml
_site
.jekyll-cache
.DS_Store
*.md~
morea/example-introduction/2024-01-08-Note-16-23.pdf
morea/example-introduction/2024-01-08-Note-16-24.xoj
morea/example-introduction/2024-01-08-Note-23-34.xoj
morea/example-introduction/2024-01-10-Note-10-20.xoj
*.xoj
morea/linear-models/Hawaii1994-2023.nc
morea/linear-models/Stockholm_03.nc
morea/kernels/.\#assessment-kernel (DESKTOP-CC4GNC0's conflicted copy 2025-03-09 1).md
morea/kernels/.\#assessment-kernel (DESKTOP-CC4GNC0's conflicted copy 2025-03-09 2).md
morea/kernels/.\#assessment-kernel (DESKTOP-CC4GNC0's conflicted copy 2025-03-09 3).md
morea/kernels/.\#assessment-kernel (DESKTOP-CC4GNC0's conflicted copy 2025-03-09 4).md
morea/kernels/.\#assessment-kernel (DESKTOP-CC4GNC0's conflicted copy 2025-03-09).md
morea/kernels/.\#assessment-kernel (DESKTOP-CC4GNC0's conflicted copy 2025-03-09 5).md
morea/kernels/.\#assessment-kernel (DESKTOP-CC4GNC0's conflicted copy 2025-03-09 6).md
morea/kernels/.\#assessment-kernel (DESKTOP-CC4GNC0's conflicted copy 2025-03-09 7).md
morea/kernels/.\#assessment-kernel (DESKTOP-CC4GNC0's conflicted copy 2025-03-09 8).md
morea/kernels/.\#assessment-kernel (DESKTOP-CC4GNC0's conflicted copy 2025-03-09 10).md
morea/kernels/.\#assessment-kernel (DESKTOP-CC4GNC0's conflicted copy 2025-03-09 9).md
