# Keep IntelliJ files out of github to reduce potential conflicts when others import.

.idea
core.iml
_site
.jekyll-cache
.DS_Store
*.md~
morea/example-introduction/2024-01-08-Note-16-23.pdf
morea/example-introduction/2024-01-08-Note-16-24.xoj
morea/example-introduction/2024-01-08-Note-23-34.xoj
